# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
*.tgz
dist/
build/
pkg/


# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# Environment
.env
.env.local
.env.*.local

# Temporary files
tmp/
temp/
*.tmp

# CLAUDE
.claude/

# Prettier
.prettierrc.json

# Notes to Claude
CRITICAL_COMPANION_MODULE_NOTES.md
Working_Example_MIDI_Port/
MIDI2OSC/

# image
HISE_OTTO_Recent_Image.png

# Assets from JUCE builds
Assets/Docs/

# Serena
.serena/

